@charset "utf-8";
@font-face {
    font-family: 'Zen';
    src: url(/fonts/ZenAntique-Regular.ttf);
}

/***** Global *****/
:root { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }
body { 
    font-family: Zen, sans-serif; 
    background-color: whitesmoke;
    margin: 0 auto;
}

/***** Wrapper *****/
header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/***** Header *****/
/* Logo */
.logo {
    letter-spacing: 2px;
    font-size: 18px;
    border: 2px solid black;
}

/* Navigation */
.nav-bar {
    display: flex;
}

.nav-divider {
    flex: 1;
}

.nav-bar > li {
    list-style: none;
    padding: 1em;
}

.nav-bar > li > a {
    text-decoration: none;
    padding: .5em 1.5em;
}

/***** Main *****/
/* Headers */
h1 {
    font-size: 30px;
    margin-left: 1rem;
}
/* Tables */
table {
    margin-left: auto;
    margin-right: auto;
}

table > caption {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

table, th, td {
    border: 2px solid #592533;
    border-collapse: collapse;
    text-align: center;
    padding: 10px 60px;
}

th {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px;
}

.checked {
    color: gold;
}

/* Gallery */
.gallery {
display: flex;
margin: 3rem;
align-items: center;
justify-content: center;
}

/* Details */
span {
    font-size: 24px;
    text-transform: uppercase;
}

aside {
    margin: 3rem;
    border: 1px solid purple;
    padding: 1rem;
    line-height: 2.5rem;
    font-size: 18px;
}

/***** Footer *****/
footer {
    text-align: center;
}