@charset "utf-8";
@font-face {
    font-family: 'Zen';
    src: url(/fonts/ZenAntique-Regular.ttf);
}

/***** Global *****/
:root { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }
body { 
    font-family: Zen, sans-serif; 
    background-color: #D1BEAF;
    margin: 0 auto;
    color: #32222D;
}

/***** Wrapper *****/
header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* Links */
a {
    text-decoration: none;
    color: #712C41;
    font-size: 1.15rem;
}

a:hover {
    color: #035951;
}


/***** Header *****/
/* Logo */
.logo {
    letter-spacing: 2px;
    font-size: 18px;
    border: 2px solid #01403A;
}

/* Navigation */
.sticky {
    position: sticky;
    top: 0;
}

.nav-bar {
    display: flex;
}

.nav-divider {
    flex: 1;
}

.nav-bar > li {
    list-style: none;
    padding: 1em;
}

.nav-bar > li > a {
    text-decoration: none;
    padding: .5em 1.5em;
}

/***** Main *****/
/* Headers */
h1 {
    font-size: 30px;
    margin-left: 2rem;
}
/* Tables */
table {
    margin-left: auto;
    margin-right: auto;
}

table > caption {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

table, th, td {
    border: 2px solid #01403A;
    border-collapse: collapse;
    text-align: center;
    padding: 10px 60px;
}

th {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px;
}

.checked {
    color: gold;
}

/* Gallery */
.gallery-container {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1200px;
    max-height: 1200px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
}

#gallery {
    margin: 3rem;
}

#gallery img {
    z-index: 1;
    grid-column: span 2;
    max-width: 100%;
    margin-bottom: -52%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(1);
    transition: all .25s;
}

#gallery img:nth-child(7n + 1) {
    grid-column: 2 / span 2;
}

#gallery img:hover {
    z-index: 2;
    transform: scale(2);
}

/***** Footer *****/
footer {
    text-align: center;
}